extends layout

block content

    .appTitle
      h1
        a(href='/') vizago
      p AI biometrics for all...
    .container
      .row
        br
        br
        form#togglingForm.form-horizontal(method='POST', action='/analysesb')
          .form-group
            .col-xs-9.searchDiv
              input.form-control(type='text', name='source', required='', data-fv-notempty-message='url is required', placeholder='Paste your url here')
              br
              label.radio-inline.option Type of analysis: 
              label.radio-inline.option
                a(href='/') Image url
              label.radio-inline.option
                a(href='/webcam') Video
              label.radio-inline.option
                a(href='/strong') Strong Analysis
            .col-xs-2
              button.btn.btn-primary.analyseButton(type='submit', data-toggle='#jobInfo') Analyse
    if att
      .imageInfo
        .image
          img.photo(src= imgUrl)
        .info
          ul.infoList.list-group
            li.list-group-item Aproximate age: #{att.age_est.value} - confidence: #{att.age_est.confidence} %
            li.list-group-item Gender: #{att.gender.value} - confidence: #{att.gender.confidence} %
            li.list-group-item Wearing glasses: #{att.glasses.value} - confidence: #{att.glasses.confidence} %
            li.list-group-item Smiling: #{att.smiling.value}- confidence: #{att.smiling.confidence} %
            li.list-group-item Anger: #{att.anger.value}- confidence: #{att.anger.confidence} %
            li.list-group-item Disgust: #{att.disgust.value}- confidence: #{att.disgust.confidence} %
            li.list-group-item Fear: #{att.fear.value}- confidence: #{att.fear.confidence} %
            li.list-group-item Happy: #{att.happiness.value}- confidence: #{att.happiness.confidence} %
            li.list-group-item Sad: #{att.sadness.value}- confidence: #{att.sadness.confidence} %
            li.list-group-item Surprise: #{att.surprise.value}- confidence: #{att.surprise.confidence} %
            li.list-group-item Overall mood: #{att.mood.value}- confidence: #{att.mood.confidence} %
            li.list-group-item If answering a question, probability of lying: #{lie} %
   
      

