extends layout

block content

    .appTitle
      h1
        a(href='/') vizago
      p AI biometrics for all...
    .container
      .row
        br
        br
        form#togglingForm.form-horizontal(method='POST', action='/analyse')
          .form-group
            .col-xs-9.searchDiv
              input.form-control(type='text', name='source', required='', data-fv-notempty-message='url is required', placeholder='Paste your url here')
              br
              label.radio-inline.option Type of analysis: 
              label.radio-inline.option
                a(href='/') Image url
              label.radio-inline.option
                a(href='/webcam') Video
              label.radio-inline.option
                a(href='/strong') Strong Analysis
            .col-xs-2
              button.btn.btn-primary.analyseButton(type='submit', data-toggle='#jobInfo') Analyse
    if att && source
      .imageInfo
        .image
          img.photo(src= source)
        .info
          ul.infoList.list-group
            li.list-group-item Aproximate age: #{att.age.value - 8}
            li.list-group-item Gender: #{att.gender.value}
            li.list-group-item Ethnicity: #{att.ethnicity.value}
            li.list-group-item Type of glasses: #{att.glass.value}
            li.list-group-item Smiling: #{smile}
            li.list-group-item Confidence: #{conf} - blur index: #{blurIndex}
  
      

