extends layout

block content

    .appTitle
      h1
        a(href='/') vizago
      p AI biometrics for all...
    .container
      .row
        br
        br
        form#togglingForm.form-horizontal(method='POST', action='/analyse')
          .form-group
            .col-xs-9.searchDiv
              input.form-control(type='text', name='source', required='', data-fv-notempty-message='url is required', placeholder='Paste your url here')
            .col-xs-2
              button.btn.btn-primary.analyseButton(type='button', data-toggle='#jobInfo') Analyse
      .camera
        video#video Video stream not available.
        button#startbutton Take photo
      canvas#canvas
      .output
        img#photo(alt='The screen capture will appear in this box.')
    if att && source
      .imageInfo
        .image
          img.photo(src= source)
        .info
          ul.infoList.list-group
            li.list-group-item Aproximate age: #{att.age.value} 
            li.list-group-item Gender: #{att.gender.value}
            li.list-group-item Ethnicity: #{att.ethnicity.value}
            li.list-group-item Type of glasses: #{att.glass.value}
            li.list-group-item Smiling: #{smile}
            li.list-group-item Confidence: #{conf} - blur index: #{blurIndex}
   
      
      

